<div class="page-header">
  <h3>User Account #<%= @user_account.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user_account.email %></dd>

      <dt>Password</dt>
      <dd><%= @user_account.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/user_accounts" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User account has many bookmark_dishes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmark Dishes
      </li>

      <% @user_account.bookmark_dishes.each do |bookmark_dish| %>
        <li class="list-group-item">
          <a href="/bookmark_dishes/<%= bookmark_dish.id %>">
            <%= bookmark_dish.venues_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmark_dishes/<%= bookmark_dish.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == bookmark_dish.user %>
              <a href="/bookmark_dishes/<%= bookmark_dish.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_bookmark_dish/<%= bookmark_dish.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User account has many bookmark_venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmark Venues
      </li>

      <% @user_account.bookmark_venues.each do |bookmark_venue| %>
        <li class="list-group-item">
          <a href="/bookmark_venues/<%= bookmark_venue.id %>">
            <%= bookmark_venue.dishes_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmark_venues/<%= bookmark_venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == bookmark_venue.user %>
              <a href="/bookmark_venues/<%= bookmark_venue.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_bookmark_venue/<%= bookmark_venue.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
