<!-- Validation failure messages -->
<% if @venue.errors.any? %>
  <% @venue.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Venue</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_venue" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dishes_id -->
      <div class="form-group">
        <label for="dishes_id" class="control-label">
          Dishes
        </label>

        <%= select_tag(:dishes_id, options_from_collection_for_select(Dish.all, :id, :cuisines_id, @venue.dishes_id), :class => "form-control") %>
      </div>

      <!-- Label and input for address_id -->
      <div class="form-group">
        <label for="address_id" class="control-label">
          Address
        </label>

        <input type="text" id="address_id" name="address_id" placeholder="Address" class="form-control" value="<%= @venue.address_id %>">
      </div>

      <!-- Label and input for neighborhoods_id -->
      <div class="form-group">
        <label for="neighborhoods_id" class="control-label">
          Neighborhoods
        </label>

        <input type="text" id="neighborhoods_id" name="neighborhoods_id" placeholder="Neighborhoods" class="form-control" value="<%= @venue.neighborhoods_id %>">
      </div>

      <button class="btn btn-success">
        Create Venue
      </button>
      or
      <a href="/venues">Cancel</a>
    </form>
  </div>
</div>
